.botao {
    background-color: #154570;
    border-radius: 10px;
    color: white;
    border: none;
    padding: 20px;
    cursor: pointer;
}
.botao:hover{
    background-color: #1d5c96;
    color: #ffffff;
}