.titulo-pontos {
    
    text-align: center;
    
    color: #154570;
    
    font-size: 34px;
    
    font-weight: 700;
    
    margin: 30px 0;
    
}



.pontuacao-container {
    
    display: flex;
    
    justify-content: center;
    
    align-items: center;
    
    gap: 10px;
    
    
    
    margin: 30px 0 40px;
    
    flex-wrap: wrap;
    
}



.subtitulo-pontos {
    
    color: #154570;
    
    font-size: 20px;
    
    font-weight: 600;
    
}



.valor-pontos {
    
    font-size: 20px;
    
    color: #111827;
    
}



.enviosPontuados {
    
    text-align: center;
    
    color: #154570;
    
    font-size: 20px;
    
    font-weight: 600;
    
    margin: 30px 0 20px;
    
}



.cards {
    
    display: flex;
    
    gap: 10px;
    
    margin: 30px;
    
    flex-wrap: wrap;
    
    justify-content: center;
    
}



.msg-erro {
    
    color: #c0392b;
    
    padding: 10px 0;
    
    font-size: 15px;
    
    margin: 10px;
    
}



.msg-carregando {
    
    padding: 10px 0;
    
    font-size: 15px;
    
    color: #555;
    
    margin: 10px;
    
}



/* TABLET */

@media (max-width: 768px) {
    
    .titulo-pontos {
        
        font-size: 28px;
        
    }
    
    
    
    .subtitulo-pontos,
    
    .enviosPontuados {
        
        font-size: 20px;
        
    }
    
    
    
    .valor-pontos {
        
        font-size: 24px;
        
    }
    
    
    
    .cards {
        
        justify-content: center;
        
        margin: 20px;
        
    }
    
}



/* CELULAR */

@media (max-width: 480px) {
    
    .titulo-pontos {
        
        font-size: 26px;
        
        padding: 0 10px;
        
    }
    
    
    
    .subtitulo-pontos,
    
    .enviosPontuados {
        
        font-size: 18px;
        
    }
    
    
    
    .valor-pontos {
        
        font-size: 22px;
        
        text-align: center;
        
    }
    
    
    
    .pontuacao-container {
        
        gap: 6px;
        
        padding: 0 10px;
        
    }
    
    
    
    .cards {
        
        margin: 15px;
        
        gap: 15px;
        
    }
    
}